/* shared styles */
.btn-primary {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #4e47ff;
  padding: 12px 36px;
  border-radius: 10px;
}
.header {
  background-image: url("../Assets/Hero-bg.png");
  width: 1440px;
  height: 700px;
  margin: auto;
}

/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 150px;
}
.nav-title {
  font-family: "Inter", sans-serif;
  font-size: 34px;
  font-weight: 900;
  color: #4e47ff;
}
/* banner styles */
.banner {
  text-align: center;
  justify-content: center;
  max-width: 905px;
  margin:auto;
  gap: 40px;
}
.banner h2 {
  font-family: "Raleway", sans-serif;
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 40px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* action section styles */
.action{
    display: flex;
    justify-content: space-between;
    margin-top: 116px;
    margin-bottom: 116px;
}

.action img{
    max-width: 403px;
    min-height: 328px;
    border-radius: 48px;

}
.action-baner{
    max-width: 517px;
    min-height: 203px;
}
.action-title{
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action-subtitle{
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 1);
}
